[user]
	name = "David Judik "
	email = judik.david@gmail.com
[push]
	default = current
[core]
	editor = vim
[alias]
    co = checkout
    ci = commit
    rb = pull --rebase
    st = status
[color]
	ui = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[difftool "vimdiff"]
	path = vimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool "vimdiff"]
	path = vimdiff
[merge "tool"]
	prompt = false
[github]
	user = judikdavid
[web]
	browser = open
